.ProjectList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ProjectListContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 90%;
	padding: 2rem;
}

.ProjectListContainer h3 {
  width: 70%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.ProjectsContainer {
  justify-content: center;
	display: grid;
	grid-template-columns: 35% 35%;
	column-gap: 5rem;

}


@media screen and (max-width: 768px) {
	.ProjectsContainer {display: grid;
		grid-template-columns: 35%;
 }
}

.grid-item {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 2rem;
	opacity: 0; /* Start hidden */
	transform: translateY(20px); /* Start below the view */
	transition: opacity 1s ease, transform 1s ease; /* Animation */
  }
  
  .grid-item.visible {
	opacity: 1; /* Fully visible */
	transform: translateY(0); /* Move to original position */
  }